* {
    margin: 0 auto;
}

.container {
    width: 1348px;
    height: auto;
    background-color: #FFFFFF;
}

.header-top {
    width: 1348px;
    height: 100px;
    background-color: white;
    position: fixed;
    z-index: 99;
    top: 0;
    border-bottom: 1px solid black;
}

.logo {
    width: 150px;
    height: 150px;
    float: left;
    margin: 25px 25px;
    margin-top: 10px;
}

.logo img {
    max-width: 100%;
    margin-top: -35px;
}

nav {
    cursor: pointer;

}

nav ul li {
    display: inline-block;
    list-style: none;
    padding: 5px 30px;
    margin-top: 30px;
    font-family: 'Times New Roman', Times, serif;
}

nav ul li a {
    font-size: 20px;
    color: #01549E;
    text-decoration: none;
    transition: 0.3s all;
}

nav ul li a:hover {
    color: yellow;
    border-bottom: 2px solid yellow;
}

.search-icon img {
    margin-left: 990px;
    margin-top: -50px;
}

.search-icon img:hover {
    transform: scale(1.3);
    transition: 1s;
}

.shopping-cart {
    margin-left: 1270px;
    margin-top: -70px;
}

.shopping-cart:hover {
    transform: scale(1.3);
    transition: 1s;
}

.quotes h1 {
    margin-top: 60px;
    margin-left: 50px;
    color: #01549E;
}

.quotes h3 {
    margin-top: 20px;
    margin-left: 50px;
    color: #696E7B;
}

.hospital h1 {

    margin-top: 20px;
    margin-left: 35px;
    color: #01549E;
}

.hospital h3 {
    margin-top: 20px;
    margin-left: 40px;
    color: #696E7B;
}

.test h1 {
    margin-top: -100px;
    margin-left: 480px;
    color: #01549E;
}

.test h3 {
    margin-top: 20px;
    margin-left: 480px;
    color: #696E7B;
}

.quality h1 {
    margin-top: -100px;
    margin-left: 967px;
    color: #01549E;
}

.quality h3 {

    margin-top: 20px;
    margin-left: 970px;
    color: #696E7B;
}

.dealing h1 {

    font-size: 50px;
    margin-left: 610px;
    margin-top: 180px;
    color: #01549E;
}

.dealing h3 {


    font-family: 'Times New Roman', Times, serif;
    margin-left: 440px;
    margin-top: 70px;
    color: #696E7B;
}

.experts {

    color: white;
    margin-left: 450px;
    margin-top: 100px;
}

.experts h4 {

    margin-left: -430px;
    margin-top: 52px;
    text-align: center;
    font-size: 20px;
}

.slider1 {
    max-width: 1150px;
    display: flex;
    margin-top: 50px;

}

.slider1 .card {

    background: #fff;
    flex: 1;
    margin: 0 10px;
    border: 1px solid black;
}

.slider1 .card .image5 {

    height: 380px;
    width: 100%;
    border-bottom: 1px solid black;
}

.slider1 .card .image5 img {

    height: 100%;
    width: 100%;
    object-fit: cover;
}

.slider1 .card .content {
    padding: 10px 20px;
}

.card .content .title {

    font-size: 25px;
    font-weight: 600;
    text-align: center;
}

.card .content .sub-title {
    font-size: 20px;
    font-weight: 600;
    color: red;
    line-height: 20px;
    margin-top: 10px;
    text-align: center;
}

.card .content p {

    text-align: justify;
    margin: 10px 0;
    line-height: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.card .content .btn {

    display: block;
    text-align: left;
    margin: 80px 0;
}

.card .content .btn button {

    background: red;
    color: white;
    border: none;
    outline: none;
    font-size: 17px;
    padding: 5px 8px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0..2s;
}

.card .content .btn button:hover {
    transform: scale(0.9);
}

.about-us img {
    margin-left: 100px;
    margin-top: 100px;
    transition: 1s;
    filter: grayscale(100%);
}

.about-us img:hover {
    transform: scale(1.2);
    z-index: 2;
    filter: grayscale(0%);
    border-bottom: 1px solid black;
}

.about-us h1 {
    color: #01549E;
    margin-left: 830px;
    margin-top: -460px;
}

.about-us p {
    margin-left: 800px;
    margin-top: 30px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 23px;
    color: #696E7B;
}

.about-us h2 {
    margin-left: 800px;
    margin-top: 30px;
    color: #01549E;
}

.reviews {
    font-size: 25px;
    color: #01549E;
    margin-top: 200px;
    text-align: center;
}

.reviews h2 {

    margin-top: 80px;
    margin-left: -530px;
}

.reviews p {
    margin-left: -660px;
    margin-top: 30px;
}

.ratings h1 {
    margin-left: 750px;
    margin-top: -160px;
    font-size: 80px;
}

.ratings h3 {

    margin-left: 760px;
    margin-top: 20px;
}

.box {
    width: 370px;
    height: 300px;
    background-color: #01549E;
    margin-top: 100px;
    margin-left: 100px;
}

.box img {
    margin-top: 20px;
}

.box h3 {

    margin-left: 15px;
    color: white;
    margin-top: 5px;
}

.box2 {
    width: 370px;
    height: 350px;
    background-color: orange;
    margin-top: -330px;
    margin-left: 520px;
}

.box2 img {
    margin-top: 20px;
}

.box2 h3 {

    margin-left: 15px;
    color: white;
    margin-top: 5px;
}

.box3 {
    width: 370px;
    height: 350px;
    background-color: seagreen;
    margin-top: -380px;
    margin-left: 950px;
}

.box3 img {
    margin-top: 20px;
}

.box3 h3 {

    margin-left: 15px;
    color: white;
    margin-top: 5px;
}

.care img {

    margin-left: -650px;

}

.big-box {
    width: 550px;
    height: 900px;
    background-color: white;
    margin-left: 750px;
    margin-top: -900px;
    box-shadow: 10px 10px 10px 10px silver;
}

.small-box h1 {
    background-color: #01549E;
    color: white;
    height: 100px;
    font-size: 30px;
}

.big-box p {

    margin-left: 10px;
    font-size: 20px;
}

.big-box h3 {

    margin-right: 380px;
    font-size: 25px;
    margin-top: 20px;
}

.big-box input {

    margin-right: 50px;
    margin-top: 30px;
    height: 50px;
    width: 400px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #F6F7FB;
    color: #696E7B;
    border: #01549E;
}

form input {

    font-family: "PT Sans", Sans-serif;
    font-size: 14px;
    font-weight: 700;
    text-transform: none;
    line-height: 1em;
    letter-spacing: 0px;
    margin-top: 20px;
}

.big-box h4 {

    font-size: 15px;
    margin-top: 30px;
    font-family: 'Times New Roman', Times, serif;
}

.footer-distributed {

    background-color: #01549E;
    box-sizing: border-box;
    widows: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 50px 50px 60px 50px;
    margin-top: 80px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
    display: inline-block;
    vertical-align: top;
}

.footer-distributed .footer-left {
    width: 30%;
}

.footer-distributed h3 {
    color: #ffffff;
    font: normal 36px 'cookie', cursive;
    margin: 0;
}

.footer-distributed .footer-links {

    color: white;
    margin: 20px 0 12px;
}

.footer-distributed .footer-links a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
}

.footer-distributed .footer-company-name {
    color: #92999f;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}

.footer-distributed .footer-center {
    width: 35%;
}

.footer-distributed .footer-center i {
    background-color: purple;
    color: #ffffff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
    font-size: 17px;
    line-height: 38px;
}

.footer-distributed .footer-center p {
    display: inline-block;
    color: #ffffff;
    vertical-align: middle;
    margin: 0;
}

.footer-distributed .footer-center p sapn {
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 2;
}

.footer-distributed .footer-center p a {

    color: #e0ac1a;
    text-decoration: none;
}

.footer-distributed .footer-right {
    width: 30%;
}

.footer-distributed .footer-company-about {
    line-height: 20px;
    color: #92999f;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
}

.footer-distributed .footer-company-about span {
    display: block;
    color: white;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}

.footer-distributed .footer-icons {
    margin-top: 25px;
}

.footer-distributed .footer-icons a {
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color: purple;
    border-radius: 2px;
    font-size: 20px;
    color: white;
    text-align: center;
    line-height: 35px;
    margin-right: 3px;
    margin-bottom: 5px;
}

.footer-distributed .footer-icons a:hover {
    background-color: yellow;
    color: #191919;
}

.footer-links a:hover {
    color: yellow;
}

@media(max-width: 880px) {

    .footer-distributed .footer-links,
    .footer-distributed .footer-center,
    .footer-distributed .footer-right {

        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
    }

    .footer-distributed .footer-center i {

        margin-left: 0;
    }

}