* {
    margin: 0 auto;
}

.container {
    width: 1348px;
    height: auto;
    background-color: #FFFFFF;
}

.header-top {
    width: 1348px;
    height: 100px;
    background-color: white;
    position: fixed;
    z-index: 99;
    top: 0;
    border-bottom: 1px solid black;
}

.logo {
    width: 150px;
    height: 150px;
    float: left;
    margin: 25px 25px;
    margin-top: 10px;
}

.logo img {
    max-width: 100%;
    margin-top: -35px;
}

nav {
    cursor: pointer;

}

nav ul li {
    display: inline-block;
    list-style: none;
    padding: 5px 30px;
    margin-top: 30px;
    font-family: 'Times New Roman', Times, serif;
}

nav ul li a {
    font-size: 20px;
    color: #01549E;
    text-decoration: none;
    transition: 0.3s all;
}

nav ul li a:hover {
    color: yellow;
    border-bottom: 2px solid yellow;
}

.search-icon img {
    margin-left: 990px;
    margin-top: -50px;
}

.search-icon img:hover {
    transform: scale(1.3);
    transition: 1s;
}

.shopping-cart {
    margin-left: 1270px;
    margin-top: -70px;
}

.shopping-cart:hover {
    transform: scale(1.3);
    transition: 1s;
}

.quality h1 {

    margin-top: 150px;
    margin-left: 50px;
    color: #01549E;
    font-size: 40px;
}

.quality p {

    color: #696E7B;
    font-size: 20px;
    margin-left: 50px;
    margin-top: 20px;
}

.quality2 h2 {

    margin-left: 50px;
    margin-top: 50px;
    color: #01549E;
}

.diplomas h1 {
    margin-left: 420px;
    color: #01549E;
    margin-top: 100px;
    font-size: 40px;
}

.footer-distributed {

    background-color: #01549E;
    box-sizing: border-box;
    widows: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 50px 50px 60px 50px;
    margin-top: 80px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
    display: inline-block;
    vertical-align: top;
}

.footer-distributed .footer-left {
    width: 30%;
}

.footer-distributed h3 {
    color: #ffffff;
    font: normal 36px 'cookie', cursive;
    margin: 0;
}

.footer-distributed .footer-links {

    color: white;
    margin: 20px 0 12px;
}

.footer-distributed .footer-links a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
}

.footer-distributed .footer-company-name {
    color: #92999f;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}

.footer-distributed .footer-center {
    width: 35%;
}

.footer-distributed .footer-center i {
    background-color: purple;
    color: #ffffff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
    font-size: 17px;
    line-height: 38px;
}

.footer-distributed .footer-center p {
    display: inline-block;
    color: #ffffff;
    vertical-align: middle;
    margin: 0;
}

.footer-distributed .footer-center p sapn {
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 2;
}

.footer-distributed .footer-center p a {

    color: #e0ac1a;
    text-decoration: none;
}

.footer-distributed .footer-right {
    width: 30%;
}

.footer-distributed .footer-company-about {
    line-height: 20px;
    color: #92999f;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
}

.footer-distributed .footer-company-about span {
    display: block;
    color: white;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}

.footer-distributed .footer-icons {
    margin-top: 25px;
}

.footer-distributed .footer-icons a {
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color: purple;
    border-radius: 2px;
    font-size: 20px;
    color: white;
    text-align: center;
    line-height: 35px;
    margin-right: 3px;
    margin-bottom: 5px;
}

.footer-distributed .footer-icons a:hover {
    background-color: yellow;
    color: #191919;
}

.footer-links a:hover {
    color: yellow;
}

@media(max-width: 880px) {

    .footer-distributed .footer-links,
    .footer-distributed .footer-center,
    .footer-distributed .footer-right {

        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
    }

    .footer-distributed .footer-center i {

        margin-left: 0;
    }

}